<div class="filter_conteiner">
  <div class="filter_box">
    <div class="lng__searchBy">Search by</div>
    <form list="genres" class="genresList">
      <select id="genres" class="genreList__select">
        <option data-id="" value="" class="lng__choose">Choose genre</option>
        <option data-id="28" value="Action" class="lng__action">Action</option>
        <option data-id="12" value="Adventure" class="lng__adventure">
          Adventure
        </option>
        <option data-id="16" value="Animation" class="lng__animation">
          Animation
        </option>
        <option data-id="35" value="Comedy" class="lng__comedy">Comedy</option>
        <option data-id="80" value="Crime" class="lng__crime">Crime</option>
        <option data-id="99" value="Documentary" class="lng__documental">
          Documentary
        </option>
        <option data-id="18" value="Drama" class="lng__drama">Drama</option>
        <option data-id="10751" value="Family" class="lng__family">
          Family
        </option>
        <option data-id="14" value="Fantasy" class="lng__fantasy">
          Fantasy
        </option>
        <option data-id="36" value="History" class="lng__history">
          History
        </option>
        <option data-id="27" value="Horror" class="lng__horror">Horror</option>
        <option data-id="10402" value="Music" class="lng__music">Music</option>
        <option data-id="9648" value="Mystery" class="lng__mystery">
          Mystery
        </option>
        <option data-id="10749" value="Romance" class="lng__romance">
          Romance
        </option>
        <option data-id="878" value="Science" class="lng__science">
          Science Fiction
        </option>
        <option data-id="10770" value="Internet  Explorer" class="lng__moovie">
          TV Moovie
        </option>
        <option data-id="53" value="Firefox" class="lng__thriller">
          Thriller
        </option>
        <option data-id="10752" value="Google Chrome" class="lng__war">
          War
        </option>
        <option data-id="37" value="Opera" class="lng__western">Western</option>
      </select>
    </form>
    <form class="year" onsubmit="return false">
      <select id="date-dropdown" class="input--year">
        <option data-id="" value="" class="lng__yearInput">Year</option>
      </select>
    </form>
  </div>
</div>
<div class="home-container">
  <ul class="body-container container"></ul>
  <div class="pagination">
    <ul></ul>
  </div>
  <div id="data-container"></div>
  <div id="pagination-container"></div>
</div>
