<footer class="footer">
  <span
    >&copy; 2022 | <span class="lng__rights">All Rights Reserved</span> |
    &nbsp;</span
  >
  <div>
    <span class="lng__developed">Developed with</span>

    <button type="button" class="footer__modal-btn--heart">
      <span id="heart" class="heart">
        <div></div>
      </span>
    </button>
    <span class="lng__by">by</span>

    <button type="button" class="footer__modal-btn">
      <span class="lng__students">GoIT Students</span>
    </button>
  </div>

  <!--------------------- Footer Modal  ------------------------>

  <div class="footer__backdrop is-hidden">
    <div class="footer__modal">
      <h2 class="footer__modal-title lng__team">Team GoIT Students</h2>
      <button type="button" class="footer__close-btn">
        <svg class="modal__close-icon" width="18px" height="18px">
          <use href="./images/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="team__list">
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/dmytro-yatsenko.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__dmytro">
              Dmytro
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__lead" lang="en">Team Leader</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/gigadimon">
                  <svg class="social__icon" width="15px" height="15px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a
                  href="https://www.linkedin.com/in/dmytro-yatsenko-aa2935244/"
                >
                  <svg class="social__icon" width="15px" height="15px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/kilivnik-yulia.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__yulia">
              Yulia
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__scrum" lang="en">Scrum Master</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/Kilivnik">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a href="https://www.linkedin.com/in/yulia-kilivnik/">
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/vladyslav-komar.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__vladyslav">
              Vladyslav
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__dev" lang="en">Developer</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/1stPowerLifter">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a href="https://www.linkedin.com/in/vladyslavkomar/">
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/volodymyr-yaroschchuk.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__volodymyr">
              Volodymyr
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__dev" lang="en">Developer</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/VovaYaroshchuk">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a href="https://www.linkedin.com/in/volodymyr-yaroschchuk/">
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/anton-zenko.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__anton">
              Anton
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__dev" lang="en">Developer</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/AntonZenko">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a href="https://www.linkedin.com/in/anton-zenko/">
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/vitaliy-yerin.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__vitaliy">
              Vitaliy
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__dev" lang="en">Developer</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/VitaliyYerin">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a href="https://www.linkedin.com/in/vitaliy-yerin-87a130245/">
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <div class="photo__card">
            <img
              class="team__img"
              src="./images/img/team/denkovych-yuriy.jpg"
              alt="Student GoIT"
            />
            <h4 class="team__title lng__yuriy">
              Yuriy
              <svg class="ukraine__icon" width="15px" height="15px">
                <use
                  href="./images/svg/footer-icon.svg#icon-flag_ukraine"
                ></use>
              </svg>
            </h4>
            <p class="team__text lng__dev" lang="en">Developer</p>
            <ul class="social">
              <li class="social__link">
                <a href="https://github.com/Denkovych">
                  <svg class="social__icon" width="17px" height="17px">
                    <use href="./images/svg/footer-icon.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="social__link">
                <a
                  href="https://www.linkedin.com/in/yurii-denkovych-727094239/"
                >
                  <svg class="social__icon" width="17px" height="17px">
                    <use
                      href="./images/svg/footer-icon.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="back-to-top" type="button"></button>
</footer>
